<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../css/style.css">
  </head>
<body>

<h1>Weather Stack project</h1>

<nav>
  <div><h3><a href="/">Home</a></h3></div>
  <div><h3><a href="/about">About</a></h3></div>
  <div><h3><a href="/help">Help</a></h3></div>
</nav>

{{> (whichPartial) }}


</body>

<script src="../script.js"></script>
</html>
