<h4>Type your location</h4> 

<p>{{error}}</p>


<form>
<input type="text" placeholder="Paris, New York, Tokyo"></input> <button type="submit">SUBMIT</button>
</form>
<p class="error" style="color: white"></p>
<h4 class="location"></h4>
<img class="image"></img>
<p class="temperature"></p>
